<form [formGroup]="authFormGroup" (ngSubmit)="login()">
  <div>
    <mat-form-field>
      <input
        matInput
        formControlName="applicationName"
        placeholder="Application Name" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        formControlName="clientId"
        placeholder="Client Id" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        formControlName="authority"
        placeholder="Authority" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        formControlName="tenantId"
        placeholder="Tenant Id" />
    </mat-form-field>
  </div>
  <div>
    <input formControlName="policyName" placeholder="Policy Name" />
  </div>
  <div>
    <input formControlName="isAuthB2C" placeholder="Is Auth B2C" type="checkbox"/>
  </div>
  <div>
    <button type="submit">ログイン</button>
  </div>
</form>

<button (click)="getToken()">ログイン</button>