<form [formGroup]="authFormGroup" (ngSubmit)="login()">
  <div>
    <input formControlName="applicationName" placeholder="Application Name" />
  </div>
  <div>
    <input formControlName="clientId" placeholder="Client Id" />
  </div>
  <div>
    <input formControlName="authority" placeholder="Authority" />
  </div>
  <div>
    <input formControlName="tenantId" placeholder="Tenant Id" />
  </div>
  <div>
    <input formControlName="policyName" placeholder="Policy Name" />
  </div>
  <div>
    <input formControlName="isAuthB2C" placeholder="Is Auth B2C" type="checkbox"/>
  </div>
  <div>
    <button type="submit">ログイン</button>
  </div>
</form>