<mat-toolbar color="primary"
    class="mat-elevation-z8">
    <mat-toolbar-row>
        AuthSample
    </mat-toolbar-row>
</mat-toolbar>
<div class ="content">
    <button mat-raised-button color="primary"
        (click)="addAzureAdApplication()">
        Add Azure AD Application
    </button>
    <ng-template ngFor let-appData [ngForOf]="appDatas">
        <app-azure-ad-app-setting-viewer
            [adApplicationData]="appData">
        </app-azure-ad-app-setting-viewer>
    </ng-template>
</div>