<form [formGroup]="authFormGroup" (ngSubmit)="loginAndAddAuthData()">
  <div>
    <mat-form-field>
      <input
        matInput
        formControlName="applicationName"
        placeholder="Application Name" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        formControlName="clientId"
        placeholder="Client Id" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        formControlName="authority"
        placeholder="Authority" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        formControlName="tenantId"
        placeholder="Tenant Id" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        formControlName="policyName"
        placeholder="Policy Name" />
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox
      formControlName="isAuthB2C">
      Using Azure AD B2C
    </mat-checkbox>
  </div>
  <div>
    <button mat-flat-button
      [disabled]="!authFormGroup.valid"
      type="submit"
      color="primary">
      Add AD App Settings
    </button>
  </div>
</form>